*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/openCV/build
/captures
.externalNativeBuild

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

*.odb
*.odb$
# Package Files #
*.jar