<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eyeclass.eyeclassapp">

    <uses-permission
        android:required="true"
        android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:noHistory = "true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Student-->
        <activity
            android:name=".Student.StudentLesson"
            android:label="@string/title_activity_student_lesson"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Student.StudentNoLesson"
            android:label="@string/title_activity_student_schedule"

            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--Teacher-->
        <activity android:name=".teacher.TeacherMenu"></activity>
        <activity android:name=".teacher.TeacherLesson"></activity>
        <activity android:name=".teacher.LessonSelect"></activity>
        <activity android:name=".teacher.DeviationForTeacher"></activity>
        <activity android:name=".teacher.QuestionStatisticForTeacher"></activity>
        <activity
            android:name=".Questions.QuestionPopUp"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>

        <!--Admin-->
        <activity android:name=".Admin.AdminMenu"></activity>
        <activity android:name=".Admin.AllUsers"></activity>
        <activity android:name=".Admin.DeviationForAdmin"></activity>
        <activity android:name=".Admin.AdminAddUser"></activity>

        <!--Lesson-->
        <activity android:name=".lesson.UploadLesson"></activity>
        <activity android:name=".lesson.UploadLesson$AddQuestions"></activity>

        <activity
            android:name=".Questions.QuestionPopUpStudent"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Questions.GoodAnswer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Questions.WrongAnswer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>